.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.nav-link {
  cursor: pointer;
  margin: 0 1rem;
  color: #333;
  user-select: none;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link:hover {
  color: #000;
  text-decoration: underline;
}
